<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head.ejs') %>
   
     <link rel="stylesheet" href="/css/login.css" />
  
    <script  src="https://www.google.com/recaptcha/api.js" async defer></script>  
    
    <script>
        function enviar(token){
            document.getElementById("olvido-form").submit();
        }
    </script>

    <title>Olvido Clave</title>
   
</head>
<body class="text-center">


     <!--------------------------------- header --------------------------------------------------------------->
   <%- include('partials/headerPages.ejs') %> 

    

    <main class="form-signin">

        <label>Ingrese su email, le enviaremos un correo para recuparar su contraseña.</label>
        <form action="/enviarMail" method="POST"  id="olvido-form"  class="form-login">

            <div class="form-floating">

                <input type="email" value="" name="email" class="form-control" placeholder=""
                                autofocus required> 
                        
                                
                                <%  if (locals.errors && errors.pieError) {  %> 
        
                                <div name="pieError">
                                    <p class="pie-error" ><%= errors.pieError.msg %> </p>
                                </div>
                                <% } %> 

                                <%  if (locals.errors && errors.pieForm) {  %> 
        
                            
                                <div name="pieForm">
                                    <p class="pie-form" ><%= errors.pieForm.msg %> </p>
                        </div>
                                <% } %>     
                        
            </div>       
                <button class="btn-envio-mail btn-lg btn-primary" type="submit">Enviar</button>

            
                <button class="g-recaptcha" data-sitekey="6Lfe85slAAAAAP2G5Y51LvWFEBeUy_cKGqU5zV92" 
                data-callback="enviar" ></button>            

            

        </form>

        
            <button class="btn-secondary  btn-lg" type="submit"><a href="/" class="btn-volver">Volver</a></button>     
            
    </main>
 <!--------------------------------- footer --------------------------------------------------------------->
 <%- include('partials/footer.ejs') %> 
</body>
</html>