<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/head.ejs') %>
   
     <link rel="stylesheet" href="/css/login.css" />
  
    

    <title>Técnicos Independientes</title>
   
</head>
<body class="text-center">


     <!--------------------------------- header --------------------------------------------------------------->
   <%- include('partials/headerPages.ejs') %> 

    

    <main class="form-signin">

        
        <div class="form-login">

            <div class="form-floating">

                <input type="email" value="" name="email" class="form-control" placeholder=""
                                hidden> 
                        
                                
                                <%  if (locals.errors && errors.pieError) {  %> 
        
                                <div name="pieError">
                                    <p class="pie-error" ><%= errors.pieError.msg %> </p>
                                </div>
                                <% } %> 

                                <%  if (locals.errors && errors.pieForm) {  %> 
        
                            
                                <div name="pieForm">
                                    <p class="pie-form" ><%= errors.pieForm.msg %> </p>
                        </div>
                                <% } %>     
                        
            </div>       
               
            

        </div>

        
            <button class="btn-secondary  btn-lg" type="submit"><a href="/" class="btn-volver">Volver</a></button>     
            
    </main>
 <!--------------------------------- footer --------------------------------------------------------------->
 <%- include('partials/footer.ejs') %> 
</body>
</html>